/* Color classes */
.rgba-primary-0 { color: rgba( 67,107,137,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(214,226,234,1) }
.rgba-primary-2 { color: rgba( 74,151,209,1) }
.rgba-primary-3 { color: rgba( 43, 53, 60,1) }
.rgba-primary-4 { color: rgba(  3, 31, 53,1) }

.rgba-complement-0 { color: rgba(212,163, 97,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,245,232,1) }
.rgba-complement-2 { color: rgba(255,180, 79,1) }
.rgba-complement-3 { color: rgba( 93, 81, 65,1) }
.rgba-complement-4 { color: rgba( 82, 47,  0,1) }

body {
	margin: 0px;
	padding: 0px;
}
nav {
	width: 100%;
	text-align: center;
}
nav ul {
	background: #efefef; 
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}
nav ul::after {
	content: "";
	clear: both;
	display: block;
}
nav ul li {
	float: left;
}
nav ul li:hover {
	background: #4b545f;
}
nav ul li a {
	display: block;
	padding: 15px 40px;
	color: #757575;
	text-decoration: none;
}
nav ul li:hover a {
	color: #fff;
}
nav ul li:hover > ul {
	display: block;
}
nav ul ul {
	display: none;
	background: #5f6975;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	width:200px;
}
nav ul ul li {
	float: none; 
	position: relative;
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
}
nav ul ul li a {
	padding: 5px 20px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #4b545f;
}
#Home_Summary_Container, #AI_Summary_Container {
	margin: 10px auto;
	padding: 0px;
	width: 600px;
}
